<p-panel header="Customs Pipes">
  <p>Customs Pipes created by {{ "us" | toggleCase : isUpper }}</p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      icon="pi pi-search"
      label="ToggleCase"
      (onClick)="toggle()"
    ></p-button>
  </div>
  <div class="p-toolbar-group-end" style="gap: 0.5rem">
    <p-button
      icon="pi pi-sort"
      styleClass="p-button-success"
      label="By Name"
      (click)="changeOrder('name')"
    ></p-button>
    <p-button
      icon="pi pi-sort"
      styleClass="p-button-danger"
      label="By fly"
      (click)="changeOrder('canFly')"
    ></p-button>
    <p-button
      icon="pi pi-sort"
      styleClass="p-button-help"
      label="By color"
      (click)="changeOrder('color')"
    ></p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Heroes">
      <p-table
        [value]="heroes | sortBy : orderBy"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Can Fly?</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly | canFly }}</td>
            <td>{{ hero.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
